* {font-family: 'DM Sans', sans-serif;}

body{margin: 0px;}

.header{
  margin: 0px;
  text-align: center;
  background-color: #006C6C;
  color: #FFFFC9;
  padding: 20px;
}

h5 a, td a{
  padding: 5px;
  color: #006C6C;
  text-decoration: none;
}

h5 a:hover, td a:hover{
  color: #FFFFC9;
  background-color: #006C6C;
  padding: 5px;
  border-radius: 5px;
  text-decoration: none;
}

.h3{
  display: block;
  background-color:#006c6c; 
  color:#FFFFC9;
  padding:0.5em
}

.fieldset{
  border: 2px solid #006c6c;
  border-radius: 5px;
  width: 75%;
  margin-left:auto;
  margin-right:auto;
}
.footer{
  background-color: #006C6C;
  color: #FFFFC9;
  text-align: center;
  padding: 5px;
}
.footer a{color: #FFFFC9;}

.footer a:hover{color: #ffff62;}

label{font-weight: bold;}