*{font-family: 'DM Sans', sans-serif;}

body{
  margin: 0px;
  display:flex;
  flex-direction: column;
  height: 100vh;
  background-color: #FFFFC9;
}

nav{
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: #006c6ce0;
}

nav a{
  color: #FFFFC9;
  text-decoration: none;
}

nav a:hover{
  color: #006c6ce0;
  background-color: #FFFFC9;
  text-decoration: none;
}

header{
  text-align: center;
  background-color: #006C6C;
  color: #FFFFC9;
}

.collapsible {
  margin-left: auto;
  margin-right: auto;
  background-color: #006C6C;
  color: #FFFFC9;
  cursor: pointer;
  width: 75vw;
  border: none;
  border-radius: 5px;
  text-align: left;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.collapsible:hover {
  background-color: #FFFFC9;
  color: #006C6C;
  
}

/* Style the collapsible content. Note: hidden by default */
.content {
  background-color: #FFFFC9;
  margin-left: auto;
  margin-right: auto;
  width: 75vw;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.content.expanded {
  background-color: #FFFFC9;
  margin-left: auto;
  margin-right: auto;
  width: 75vw;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  border: 2px solid #006C6C;
  border-radius: 5px;
}

table{
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid #006C6C;
}

th{
  text-align: left;
  border: 2px solid #006C6C;
  padding-left: 5px;
}

td{
  border: 2px solid #006C6C;
  text-align: left;
  padding-left: 5px;
  padding-right: 20px;
}

.odd{
  color: #FFFFC9;
  background-color: #006C6C;
}

.even{
  background-color: #FFFFC9;
  color: #006C6C;
}

footer{
  margin-top: auto;
  background-color: #006C6C;
  color: #FFFFC9;
  text-align: center;
  padding: 5px;
}
footer a{color: #FFFFC9;}

footer a:hover{color: #ffff62;}

label{font-weight: bold;}